*{
  margin:0;
  padding:0;
  clear:both;
  box-sizing:border-box;
}
body{
  background: white;
  color:#333;
}
a{
  color:#4078c0;
  text-decoration:none;
}
.container{
  width:80%;
  margin:0 auto;
}
.content{
  .left,
  .right{
    display:inline-block;
    vertical-align:top;
  }
  .left{
    width:23%;
  }
  .right{
    width:75%;
    margin-left:15px;
  }
}
.content{
  margin-top:20px;
}
