.tabsWrapper{
  width:100%;
  position:relative;
  border-bottom: 1px solid #eee;
  button{
    position: relative;
    right:0;
    display: inline-block;
    padding: 3px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
  }
}

.tabsRight{
  display:inline-block;
}
.tabsLeft{
    width:84.5%;
    display:inline-block;

    li{
      display:inline-block;
      list-style:none;
      margin-right: 20px;
      font-size:14px;
      vertical-align:middle;
      // border:1px solid;
      // border-bottom:transparent;
      // border-radius:3px 3px 0 0;
      padding:10px;
      a{
        text-decoration:none;
      }
    }
  }
