* {
  margin: 0;
  padding: 0;
  clear: both;
  box-sizing: border-box; }

body {
  background: white;
  color: #333; }

a {
  color: #4078c0;
  text-decoration: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.content .left,
.content .right {
  display: inline-block;
  vertical-align: top; }

.content .left {
  width: 23%; }

.content .right {
  width: 75%;
  margin-left: 15px; }

.content {
  margin-top: 20px; }

.profileAsideWrap {
  width: 100%; }

.avatar img {
  width: 100%;
  border-radius: 5px; }

.userNameWrapper {
  margin-top: 10px; }

.atNameWrapper {
  margin-bottom: 20px; }

.userName {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold; }

.atName {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666; }

.specialLinksWrapper {
  margin: 10px 0;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  line-height: 24px; }
  .specialLinksWrapper span.octicon {
    color: #B7B7B7;
    margin-right: 5px; }

a:hover {
  text-decoration: underline; }

.tabsWrapper {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #eee;
  padding: 5px 0; }
  .tabsWrapper button {
    position: relative;
    right: 0;
    display: inline-block;
    padding: 3px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none; }

.tabsRight {
  display: inline-block; }

.tabsLeft {
  width: 84.5%;
  display: inline-block; }
  .tabsLeft li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    color: #666;
    font-size: 14px;
    vertical-align: middle;
    padding: 10px; }

header nav {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  position: relative; }

header .navWrap {
  margin: 0 auto;
  width: 80%;
  position: relative; }

header .navRight {
  position: absolute;
  right: 0; }

header .navLeft {
  width: 80%; }
  header .navLeft span {
    font-size: 13px;
    font-weight: 600; }

header .navRight,
header .navLeft {
  display: inline-block;
  vertical-align: middle; }

header li {
  display: inline-block;
  list-style: none;
  margin-right: 17px; }

header .octicon.octicon-mark-github {
  font-size: 28px;
  vertical-align: middle; }

header .octicon.octicon-triangle-down {
  font-size: 10px; }

header .octicon.octicon-plus {
  margin-right: 5px; }

header .gitSearch {
  display: inline-block;
  width: 360px;
  min-height: 22px;
  padding: 3px 5px;
  font-size: 12px;
  line-height: 16px;
  background: none;
  border: 0;
  box-shadow: none;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }

header .littleAv img {
  width: 20px;
  margin-right: 5px; }

.searchAndFilter {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5; }

.repoSearch {
  display: inline-block;
  width: 50%; }
  .repoSearch input[type="search"] {
    min-height: 20px;
    width: 260px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }
  .repoSearch button {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none; }

.repoFilter {
  display: inline-block;
  width: 40%; }
  .repoFilter li {
    display: inline;
    list-style: none;
    font-size: 14px; }

.newRepo {
  display: inline-block;
  position: absolute;
  right: 0; }
  .newRepo button {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #5ca941;
    border-radius: 3px;
    -webkit-user-select: none; }

.repoData {
  padding: 20px 0;
  border-bottom: 1px solid #eee; }

.repoTitle {
  margin: 0 0 8px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold; }

.repoTime {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888; }

.repoDescription {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  color: #666; }

.repoStackLeft {
  width: 75%;
  display: inline-block; }

.repoStackRight {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  .repoStackRight li {
    list-style: none;
    display: inline;
    padding-right: 10px; }

.stats {
  position: absolute;
  right: 0;
  margin-top: 6px;
  font-size: 12px;
  font-weight: bold;
  color: #888; }
